  
.letter {
    width: 80px; 
    height: 80px;
    border-radius: 5px;
    background: #FFFFFF;
    flex: 1 1 auto;
    margin: 5px;
}

.letter:hover {
    cursor: pointer;
}


.letter.selected {
    background-color: #F6DD45;
}

.letter span {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    text-align: center;
}

/* phone */
@media only screen and (max-width: 480px) {
    .letter {
        width: 35px;
        height: 35px;
    }
}