  
.die {
    width: 80px; 
    height: 80px;
    border-radius: 5px;
    flex: 1 1 auto;
    margin: 5px;
}

.die span {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    text-align: center;
}

/* phone */
@media only screen and (max-width: 480px) {
    .die {
        width: 35px;
        height: 35px;
    }
}