#scoreboard-container {
    border: 8px solid #FFCA08;
    border-radius: 8px;
    margin-top: 1px;
}

#scoreboard {
    width: 100%;
    border: none;
    border-collapse: collapse;
    text-align: left;
}

#scoreboard td, #scoreboard th {
    border: 1px solid #FFCA08;
    background-color: white;
    padding: 4px 7px;
}

#scoreboard tr#footer td {
    background-color: #A4FFFF;
}

/* phone */
@media only screen and (max-width: 480px) {
    #scoreboard-container {
        margin-top: 20px;
        width: 100%;
        margin-left: 8%;
        margin-right: 8%;
    }

}