/* General */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;

}

/* padding */
.padding {
  padding-bottom: 1em;
}

/* Alignment */

.outer-center-align {
  text-align: center;
}

.center-align {
  display: block;
  margin-left:  auto;
  margin-right: auto;
}

/* Containers */

.content {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 80px;
  padding-right: 50px;
  padding-left: 50px;
}

/* Components */

.logo {
  padding-top: 1em;
  padding-bottom: 1em;
}

#current-word {
  border-bottom: 1px solid #000;
  padding: 4px 24px;
  display: inline-block;
  min-width: 140px;
  margin-right: 24px;
  text-align: left;
}

#board {
  border: 8px solid #6FEBD6;
  border-radius: 8px;
  background: #009EA1;
  padding: 8px;
}

.row {
  display: flex;
  text-align: center;
  flex-direction: row;
  padding-left: 8px;
  padding-right: 8px;
}

.boggle {
  width: 80px; 
  height: 80px;
  border-radius: 5px;
  background: #FFFFFF;
  flex: 1 1 auto;
  margin: 5px;

}

.boggle:hover {
  cursor: pointer;
}


.boggle.selected {
  background-color: #F6DD45;
}

.boggle span {
  font-weight: bold;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#score-table {
  align-self: left;
  border: 5px solid #FFCA08;
  border-radius: 8px;
  border-collapse: collapse;
  text-align: left;
}

#score-table td, #score-table th {
  border: 5px solid #FFCA08;
  background-color: white;
  padding: 5px;
}

#score-table tr#footer td {
  background-color: #ACCEEC;
}



/* Buttons */
.button {
  display: inline-block;
  background-color: #CA0500;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 4px 24px;
}